* {
  font-family: "Times New Roman", Times, serif;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  background-color: rgb(154, 154, 242);
  color: aliceblue;
}

main {
  text-align: center;
  justify-content: center;
  flex: 1 0 auto;
  margin-left: 200px;
  margin-right: 200px;
}

.question_page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: baseline;
  padding-left: 50px;
}

li {
  margin-bottom: 10px;
}

.button {
  background: white;
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

.button:hover {
  background-color: rgb(205, 245, 247);
}
